{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}  
body
{
	background-image: url(kist.jpg);
	background-size: cover;
	bacground-position: center;
	box-sizing: border-box;
	font-family: sans-serif;

 }